// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.street_header {
width: 100%;
height: auto;
}

.header-bar {
width: 100%;
background: #0060b8;
text-align: center;
padding: 5px;
margin-bottom: 20px;
}

.small-header-bar {
background: #ef6c23;
text-align: center;
    h3 {
    color: white !important;
    }
}

.panel.main_price {
background: #0060b8;
text-align: center;
color: white;
height: 294px !important;
    .starting_from {
    font-size: 2em;
    }
    .price_text {
    font-size: 9em;
    font-weight: bold;
    line-height: 1.4em;
    }
    .per_week {
    font-size: 1em;
    color: #e1f6fd;
    }
    &.show-for-small-only {
    height: auto !important;
        .price_text {
        font-size: 6em;
        font-weight: bold;
        }
    }
}

.why {
background: #ef6c23;
color: white;
    .why_rent_title {
    font-size: 2em;
    font-weight: normal;
    margin: 0px 0px 20px 0px;
    }
    img {
    margin-right: 10px;
    }
}

.how_it_works {
background: white;
    img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    div {
    margin: 0px;
    padding: 0px;
    }
    .panel {
    background: white;
    margin: 0px !important;
    padding: 0px 10px 20px 10px;
    border: 0px;
    line-height: 30px;
    }
    .how_number {
    color: white;
    font-size: 1em;
    background: #ef6c23;
    border: 1px solid darken(#ef6c23, 0);
    border-radius: 50%;
    height: 27px;
    line-height: 27px;
    width: 27px;
    text-align: center;
    }
}

.blue_title_text {
text-align: center;
font-weight: bold;
font-size: 2em;
margin-bottom: 20px !important;
color: #8ab4dc;
    &.align_left {
    text-align: left !important;
    font-size: 1em;
    }
}

.orange_text_right {
text-align: left !important;
color: #ef6c23;
font-size: 1em !important;
font-weight: bold;
margin-bottom: 20px !important;
}

.panel.contact_us {
background: white;
}

textarea {
min-height: 100px;
width: 100% !important;
}

.btn_blue {
font-size: 0.9em;
color: white;
background: #0060b8;
border-radius: 5px;
border: 2px solid darken(#0060b8, 5);
cursor: pointer;
    &:hover {
    border: 2px solid #8ab4dc;
    background: #ef6c23;
    }
}

.panel.facebook_box {
background: none;
border: 0px;
padding: 0px;
    img {
    margin: 0 auto;
    display: block;
    }
}

.footer_wrapper {
width: 100%;
background: #0060b8;
padding-top: 20px;
color: white;
}