<!-- Footer -->

<div class="footer_wrapper">

<footer class="row">
<div class="large-12 columns">
  <div class="row">
    <div class="large-7 columns">
      <p>© Copyright Thompsons Rentals 2014</p>
    </div>
    <div class="large-5 columns">
      <ul class="inline-list left">
        <li><%= link_to "https://www.facebook.com/pages/Thompsons-Rentals/608118035907131" do %><img src="assets/fc-webicon-facebook.png"><% end %></li>
        <li><%= link_to "http://www.twitter.com/ThompsonsRental" do %><img src="assets/fc-webicon-twitter.png"><% end %></li>
        <li><% link_to "http://www.googleplus.com" do %><img src="assets/fc-webicon-googleplus.png"><% end %></li>
        <li><%= mail_to "enquiries@thompsonsrentals.co.uk" do %><img src="assets/fc-webicon-mail.png"><% end %></li>
        <li><%= link_to "http://www.fsb.org.uk" do %><img src="assets/fsb_logo.jpg"><% end %></li>
      </ul>
    </div>
  </div>
</div>
</footer>

</div>